<div class="test-name-container form-field-container">
  <mat-label>Название теста</mat-label>

  <mat-form-field appearance="outline">
    <input matInput placeholder="Название" [formControl]="test.name" required />
    <mat-error *ngIf="test.name.invalid">{{ getNameErrorMessage() }}</mat-error>
  </mat-form-field>
</div>

<div class="form-field-container">
  <mat-label>Описание теста</mat-label>

  <mat-form-field appearance="outline">
    <textarea
      matInput
      placeholder="Описание теста"
      [(ngModel)]="test.description"
    ></textarea>
  </mat-form-field>
</div>

<div class="form-field-container">
  <mat-label>Время на выполнение теста</mat-label>

  <mat-form-field appearance="outline">
    <input
      matInput
      placeholder="Время в минутах"
      pattern="^[1-9][0-9]?$|^100$"
      [formControl]="test.time"
      required
    />
    <mat-error *ngIf="test.time.invalid">{{ getTimeErrorMessage() }}</mat-error>
  </mat-form-field>
</div>

<div class="form-field-container">
  <mat-label>Количество дней до завершения теста</mat-label>

  <mat-form-field appearance="outline">
    <input
      matInput
      placeholder="Количество дней"
      pattern="^[1-9][0-9]?$|^10$"
      [formControl]="test.day"
      required
    />
    <mat-error *ngIf="test.day.invalid">{{ getDayErrorMessage() }}</mat-error>
  </mat-form-field>
</div>

<button
  class="next-btn"
  mat-raised-button
  color="primary"
  matStepperNext
  (click)="nextStep()"
  [disabled]="isInvalid()"
>
  Дальше
</button>
