<mat-accordion>
  <mat-expansion-panel
    hideToggle
    *ngFor="let test of monitoringTests; let i = index"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ test.testName }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="test-info-wrapper">
      <div *ngFor="let student of test.students" class="student-item">
        <app-student
          [answers]="student.answers"
          [questionsCount]="test.countQuestions"
          [name]="student.name"
        ></app-student>
      </div>

      <h3>{{ test.testCode }}</h3>
    </div>
  </mat-expansion-panel>
</mat-accordion>
