:host {
  width: 100%;
}

mat-stepper {
  font-weight: bold;
}

mat-panel-title {
  font-size: large;
  font-weight: bold;
}

.example-tab-icon {
  margin-right: 8px;
}

mat-tab-group {
  text-decoration: none;
  font-weight: bold;
}
