:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

mat-slider {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1 rem;
  justify-content: center;
  width: 100%;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.button-container {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.next-btn {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

::ng-deep div.mat-horizontal-content-container {
  padding: 0;
}
